<div class="form-group position-relative">
  <ul id= <%="#{field.column_name}_ul"%> >
    <%= form.fields_for field.column_name do |nest_form| %>
      <li  class="has_many_field_li">
        <% field.has_many_attributes_to_show.each do |name| %>
          <%= nest_form.label name %>
          <%= nest_form.text_field name %>
        <% end %>
        <%= nest_form.check_box :_destroy%>
        </li>

    <% end %>

    <%# link_to_add_association 'add room', form, :rooms, partial: "/admin/field/rooms_fields" %>
  </ul>
  <a id="has-many-addmore" href="#">加入<%="#{field.column_name}"%></a>

</div>
