<p id="notice"><%= notice %></p>

<h1>Manager Hotel Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_hotel_images.each do |manager_hotel_image| %>
      <tr>
        <td><%= link_to 'Show', manager_hotel_image %></td>
        <td><%= link_to 'Edit', edit_manager_hotel_image_path(manager_hotel_image) %></td>
        <td><%= link_to 'Destroy', manager_hotel_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager Hotel Image', new_manager_hotel_image_path %>
