

<div class="container px-0 pb-3 grey lighten-4">

  <div class="row no-gutters py-2 ">
    <div class="col">
      <%= form_with(url: admin.sessions_path, local: true) do |form| %>

        <div id="phone_details">
          <%= form.label :mobile_phone, class: 'control-label', id: 'verify_phone_label' %>
          <%= form.text_field  :verification_phone, placeholder: '05XX XXXXXXX', id: 'verification_phone' ,:class => "{mask:'(0569) 9999999'}" %>
          <%= link_to 'send_code', "#", :id=> 'sendverification', :class=> 'btn btn-medium btn-success' %>
          <%= form.label :error_mobile_label, class: 'control-label', id: 'error_mobile_label' %>

        </div>

        <div id="verification_details">
          <%= form.label :info_label, class: 'control-label', id: 'verify_code_label' , style:"display:none" %>
          <%= form.text_field :verification_code, placeholder: 'XXXXXX', id: 'verification_code' ,:class => "{mask:'999999'}", :alt=> "999999'" %>
          <%= form.label :error_label, class: 'control-label', id: 'error_code_label' %>
          <%= form.label :success_label, class: 'control-label', id: 'success_code_label' %>
        </div>

        <div class="actions">
          <%= form.submit "登录", class: "btn deep-orange text-white"%>
        </div>
      <% end %>
    </div>


  </div>

</div>
