<div class="row mb-2">
  <div class="col">
    <span class="h3">会议</span>
    <span class="badge badge-pill badge-primary"><%= @conferences.count %></span>
  </div>
  <div class="col-auto">
    <span>
      <%= link_to '新建会议', new_conference_path, class: "btn btn-success my-auto" %>
    </span>
  </div>
</div>

<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <% @show_page_attributes.each do |spa| %>
        <th scope="col"><%= t(".#{spa.to_s}") %></th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |item| %>
      <tr>
        <% @show_page_attributes.each do |spa| %>
          <td><%= item.try(spa) %></td>
        <% end %>
        <td>
          <%= link_to t('.show'), item, class: "btn btn-sm btn-primary" %>
          <%= link_to t('.edit'), edit_conference_path(item), class: "btn btn-sm btn-primary" %>
          <%= link_to t('.destroy'), item, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
