<div class="container px-0 grey lighten-4">


  <% @hotels.each do |hotel| %>
    <div class="row position-relative mx-1 mb-2 rounded-lg overflow-hidden white">
      <%= link_to "", frontend.hotel_path(hotel, conference_id: @conference.id), class: "w-100 h-100 position-absolute",style: "z-index: 10;" %>
      <div class="col-4 px-0">
        <% cover_size = '640x450' %>
        <%= image_tag main_app.url_for(hotel.hotel_images.first.image.variant(combine_options: {resize: "#{cover_size}^", gravity: 'center', crop: "#{cover_size}+0+0"} )), class: "w-100", style: "" %>
      </div>
      <div class="col-8 px-2 pt-1">
        <%= link_to hotel.name, frontend.hotel_path(hotel, conference_id: @conference.id), class: "h6 text-dark" %>
        <p class="small"><%= hotel.address %></p>
        <div class="col px-0 text-right">
          <span class="small">含税总价</span>
          <span class="small red-text">￥</span>
          <span class="h5 red-text"><%= hotel.hotel_room_types.map{|hrt| hrt.price}.min.to_i %></span>
          <span class="small red-text">起</span>

        </div>
      </div>
    </div>
  <% end %>



<%# link_to 'New Hotel', new_hotel_path %>
</div>
