
<h1>User Orders</h1>

<% if user_signed_in? %>
  current_user.name
  current_user.avatar

  <% @orders.each do |order| %>
    <% order_data = Admin::OrderData.new(order: order) %>
    <%= order.hotel.name %>

    <%= order_data.total_price %>
    <%= order_data.check_in_out %>
    <%= order_data.nights %>
    <%= order_data.room_count_zh %>
    <%= order_data.room_type_zh %>



  <% end %>
<% end %>

<%# link_to 'New User Order', new_user_order_path %>
